<h1>Hello, Rails! Articles</h1>
<ul>
    <% @articles.each do |article| %>
        <li>     
            <%= link_to article.title, article%>
        </li>
        <% end %>   
 </ul>
 <%= link_to "Write new article", new_article_path%>
